body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  text-align: center;
}
dl.teaching{
 margin-top: 5px;
 margin-bottom: 5px;
}
dl.teaching dt{
 width: 110px;
}
dl.teaching dd{
 margin-left: 130px;
}
